.social_media_icon {
  display: flex;
  justify-content: end;
  align-items: center;
  .fa-brands,
  .fab {
    font-weight: 500;
    margin: 0 10px;
  }
}
.footer_title {
  display: flex;
  justify-content: flex-start;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.social_media_icon i {
  font-size: 24px;
  margin-right: 10px;
}
.social-link {
  margin-right: 10px; /* Adjust spacing between social media icons */
  color: #000; /* Adjust color of social media icons */
  transition: color 0.3s ease; /* Add transition for smooth color change */

  &:hover {
    color: #007bff; /* Change color on hover */
  }
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .footer .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
